@import 'colors';
a {
    color:$link-color;    
}
a:hover {
    color:$link-hover-color;
}
.navbar {
   
       & .nav-item{
        

            & .nav-link{
                color:$link-color;
                text-decoration: none;
                font-size: 14px;
                text-transform :uppercase;
            } 
            
       } 
}
.search {
    display: inline-block;
    position: relative;
    height: 35px;
    width: 35px;
    box-sizing: border-box;
    margin: 0px 8px 7px 0px;
    padding: 7px 9px 0px 9px;
    border: 3px solid #cccccc;
    border-radius: 25px;
    transition: all 200ms ease;
    cursor: text;
    
    &:after {
      content: "";
      position: absolute;
      width: 3px;
      height: 20px;
      right: -5px;
      top: 21px;
      background:#cccccc;
      border-radius: 3px;
      transform: rotate(-45deg);
      transition: all 200ms ease;
    }
    
    &.active,
    &:hover {
      width: 200px;
      margin-right: 0px;
      
      &:after {
        height: 0px;  
      }
    }
    
    input {
      width: 100%;
      border: none;
      box-sizing: border-box;
      font-family: Helvetica;
      font-size: 15px;
      color: inherit;
      background: transparent;
      outline-width: 0px;
    }
  }